* {margin: 0%; padding: 0; box-sizing: border-box;}

body {
    height: 100vh;
    background: linear-gradient(to right,rgb(36, 35, 35), rgb(2, 87, 75));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.container{ 
    position: absolute;
    /* bottom: 5vh; */
    background: rgba(0, 0, 0, 0.63);
    width: 100vw;
    height: 100vh;
}

ul{
    height: 90vh;
}
li{
    color: white;
    background: rgba(54, 54, 54, 0.425);
    margin: 10px 0;
    border-radius: 0 2000px 2000px 0;
    width: 90vw;
    min-height: 65px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.5rem;
    overflow: hidden;
   
}
.animateli {
    animation-name: AnimateLi;
    animation-duration: 0.3s;
}

@keyframes AnimateLi {
    from{width: 90vw; height: 65px;border-radius: 0 2000px 2000px 0;}
    to{width: 0; height: 0;border-radius: none;}
}

li p {
    font-size: 18px;
}

.fa-trash {
    /* font-size: 0.5rem; */
    border-right: 1px solid white;
    padding: 10px 0;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: rgba(203, 241, 191, 0.74);
}

.ex-name {
    /* background: blue; */
    padding: 10px;
    width: 50vw;
    border-right: 1px solid white;
    margin-right: 10px;
    overflow-x: auto ;
}


.add-box, .add-box-opt {
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width: 100px;
    min-height: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-radius: 80% 0 0 0 ;
    box-shadow: -1px -1px 10px rgba(211, 209, 209, 0.562);
    cursor: crosshair;
}
.add-box {
    z-index: 10;
}
.add-box-opt {
    width: 0px;
    height: 0px;
    
}
.animate-add-box-open {
    animation: addboxanimateopen 0.5s;
    animation-fill-mode: forwards;
    border: none;
    background: rgba(7, 7, 7, 0.76);

}
.animate-add-box-close {
    animation: addboxanimateclose 0.5s;
    animation-fill-mode: forwards;
    background: rgba(7, 7, 7, 0.76);
    border: none;

}
@keyframes addboxanimateopen {
    from{
        width: 0px;
        height: 0px;
        border-radius: 80% 0 0 0 ;

    }
    to{
        width: 100%;
        height: 100%;
        border-radius: 0 ;
         
    }
}
@keyframes addboxanimateclose {
    from{
        width: 100%;
        height: 100%;
        border-radius:0 ;
  
      }
      to{
          width: 0px;
          height: 0px;
        border-radius: 80% 0 0 0 ;

    }
}
.add-box-opt p{
    position: relative;
    top: 20%;
    left: 50%;
    color: white;
}


/* invisible */
.invisible {
    display: none;
}